@media (max-width: 1400px) {
  .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }

  .header-logo img {
    height: auto;
  }

  .header-menu ul li a {
    font-size: 14px;
  }

  .header-button a {
    padding: 12px 18px;
    font-size: 12px;
  }

 .product-nav{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

  .dropdown-menu {
    width: 400px;
    left: -80px;
    padding: 8px;
  }

  .hero-content h4 {
    font-size: 18px;
  }

  .hero-content h1 {
    font-size: 45px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .hero-button a {
    font-size: 14px;
  }

  .hero-button .hero-btn1 {
    padding: 10px 30px;
  }

  .hero-button .hero-btn2 {
    padding: 10px 30px;
  }

  .button-dis a {
    font-size: 16px;
  }

  .footer-newsletter-box button {
    font-size: 14px;
  }

   /* products */
    .product{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
   }
    .product-img{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
   }

   .product-thumb {
  position: sticky;
  top: 150px; 
  height: 250px; 
  width: 100%;
  overflow: hidden;
}

  .product-thumb img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-title h2{
    font-size: 30px;
}

.product-dics p{
    font-size: 14px;
}


.product-nav button {
  font-size: 1rem;
}

}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  .header-logo img {
    height: auto;
  }

  .header-menu ul li a {
    font-size: 14px;
  }

  .header-button a {
    padding: 12px 20px;
    font-size: 12px;
  }

 .product-nav{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

  .dropdown-menu {
    width: 380px;
    left: -110px;
    padding: 8px;
  }

  .hero-content h4 {
    font-size: 18px;
  }

  .hero-content h1 {
    font-size: 48px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .hero-button a {
    font-size: 14px;
  }

  .hero-button .hero-btn1 {
    padding: 10px 30px;
  }

  .hero-button .hero-btn2 {
    padding: 10px 30px;
  }

  .team-bio h4 {
    font-size: 17px;
  }

  .team-bio p {
    font-size: 13px;
  }

  .team-area-title h2 {
    font-size: 30px;
  }

  .button-dis a {
    font-size: 16px;
  }

  .team-area-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .footer-newsletter-box button {
    font-size: 14px;
  }

   /* products */
    .product{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    position: relative;
   }
    .product-img{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    position: relative;
   }

   .product-thumb {
  position: sticky;
  top: 150px; 
  height: 230px; 
  width: 100%;
  overflow: hidden;
}

  .product-thumb img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-title h2{
    font-size: 30px;
}

.product-dics p{
    font-size: 14px;
}

.product-nav button {
  font-size: 1rem;
}
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  .header-logo img {
    width: 100%;
    height: 0 auto;
  }

  .team-area-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .header-menu ul li a {
    font-size: 14px;
  }

  .header-button a {
    padding: 12px 20px;
    font-size: 12px;
  }

  .product-nav{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

  .dropdown-menu {
    width: 360px;
    left: -70px;
    padding: 8px;
  }

  .hero-content h4 {
    font-size: 16px;
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .hero-content p {
    font-size: 13px;
  }

  .hero-button a {
    font-size: 14px;
  }

  .hero-button .hero-btn1 {
    padding: 8px 20px;
  }

  .hero-button .hero-btn2 {
    padding: 8px 20px;
  }

  .team-bio h4 {
    font-size: 16px;
  }

  .team-bio p {
    font-size: 12px;
  }

  .team-area-title h2 {
    font-size: 25px;
  }

  .button-dis a {
    font-size: 14px;
  }

  .footer-newsletter-box button {
    font-size: 13px;
  }

  .footer-widget-desc h6 {
    font-size: 16px;
  }

  .footer-widget-desc p {
    font-size: 13px;
  }

  .footer-widget-title h4 {
    font-size: 20px;
  }

  .footer-newsletter-box input {
    font-size: 12px;
  }

  .footer-newsletter-box button {
    font-size: 14px;
  }

  .footer-bottom-content p {
    font-size: 14px;
  }

   /* products */
     .product{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
   }
     .product-img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
   }

   .product-thumb {
  position: sticky;
  top: 150px; 
  height: 220px; 
  width: 100%;
  overflow: hidden;
}

  .product-thumb img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-title h2{
    font-size: 28px;
}

.product-dics p{
    font-size: 13px;
}

.product-nav button {
  font-size: 14px;
}
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }

  .header-logo img {
    width: 100%;
    height: 0 auto;
  }

  .dropdown-menu {
    width: 300px;
    left: -20px;
    padding: 8px;
  }

  .header-menu ul li a {
    font-size: 12px;
  }

  .header-button a {
    padding: 12px;
    font-size: 10px;
  }

  .hero-content h4 {
    font-size: 14px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 12px;
  }

  .hero-button .hero-btn1 {
    padding: 7px 16px;
  }

  .hero-button .hero-btn2 {
    padding: 7px 16px;
  }

   /* products */
    .product{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
   }
    .product-img{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
   }

   .product-nav{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

   .product-thumb {
  position: sticky;
  top: 150px; 
  height: 200px; 
  width: 100%;
  overflow: hidden;
}

  .product-thumb img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-title h2{
    font-size: 26px;
}

.product-dics p{
    font-size: 12px;
}


.product-nav button {
  font-size: 12px;
}
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
  }

  .header-logo img {
    width: 100%;
    height: 0 auto;
  }

  .header-menu ul li a {
    font-size: 11px;
  }

  .header-button a {
    padding: 10px;
    font-size: 10px;
  }

  .header-search-icon {
    font-size: 10px;
  }

  .dropdown-menu {
    width: 250px;
    left: -20px;
    padding: 8px;
  }

  .team-area-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .footer-content-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 80px 0;
  }

  .footer-logo img {
    height: 0 auto;
  }

  /* products */
  .product-nav{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

  .product{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
   }

   .product-thumb {
  position: sticky;
  top: 150px; 
  height: 150px; 
  width: 100%;
  overflow: hidden;
}

  .product-thumb img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-title h2{
    font-size: 24px;
}

.product-dics p{
    font-size: 12px;
}

.product-nav button {
  font-size: 10px;
}
}
