/* bebas neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Cossette+Texte:wght@400;700&family=Indie+Flower&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Cossette+Texte:wght@400;700&family=Indie+Flower&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
}

/* header area start */
.header-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-sticky{
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); 
    backdrop-filter: blur(4px);
    pointer-events: none;
}

.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.row-left{
    flex: 0 0 auto;
    width: 25%;
}

.row-right{
    flex: 0 0 auto;
    width: 75%;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

.header-menu ul{
    display: flex;
    gap: 30px;
}

.header-menu ul li{
    list-style: none;
}

.header-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    transition: all 0.6s;
}

.header-menu ul li a:hover{
    color: #0C5ADB;
}

.header-search-icon i{
    color: #fff;
    transition: all 0.6s;
}

.header-search-icon i:hover{
    color: #0C5ADB;
}

.header-button a{
    background-color: #0C5ADB;
    color: #fff;
    text-decoration: none;
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.6s;
}

.header-button a:hover{
    background-color: #fff;
    color: #0C5ADB;
    border: 1px solid #0C5ADB;
}
/* header area end */

/* hero area start */
.hero-area{
    background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0) 100%),
        url("../assests/startseite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 945px;
    padding-top: 250px;
}

.hero-content h4{
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Bebas Neue";
    padding-bottom: 20px;
}

.hero-content h1{
    font-size: 80px;
    font-family: "Bebas Neue";
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 100%;
    padding-bottom: 25px;
}

.hero-content p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 25px;
}

.hero-button{
    display: flex;
    gap: 12px;
}

.hero-button a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.hero-button .hero-btn1{
    background-color: #0C5ADB;
    padding: 13px 45px;
    transition: all 0.6s;
}

.hero-button .hero-btn1:hover{
    background: none;
    border: 1px solid #fff;
}

.hero-button .hero-btn2{
    border: 1px solid #fff;
    padding: 13px 45px;
    transition: all 0.6s;
}

.hero-button .hero-btn2:hover{
    background-color: #0C5ADB;
    border: none;
}
/* hero area end */

/* feature area start */
.feature-area{
    position: relative;
    bottom: 90px;
    margin-bottom: 20px;
}
.feature-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.flip{
    background-color: #fff;
    border: 1px solid gray;
    padding: 35px 18px;
    border-radius: 5px;
}

.flip img{
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.flip h5{
    font-size: 23px;
    font-weight: 700;
    color: #212529;
    line-height: 100%;
    padding-bottom: 12px;
}

.flip p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #adb5bd;
    margin-bottom: 30px;
}

.flip a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #212529;
}

.flip a i{
    font-size: 12px;
    padding-left: 4px;
}
/* feature area end */

/* start about area */
.about-area{
    position: relative;
    margin-bottom: 90px;
}

.about-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.about-thumb{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-thumb img{
    width: 100%;
    height: auto;
}

.section-title h4{
    font-size: 23px;
    font-weight: 400;
    font-family: "Bebas Neue";
    color: #0C5ADB;
    letter-spacing: 1px;
    padding-bottom: 6px;
}

.section-title h2{
    font-size: 45px;
    font-family: "Bebas Neue";
    letter-spacing: 3px;
    font-weight: 500;
    padding-bottom: 16px;
}

.section-title span {
    color: #0C5ADB;
}

.section-title p{
    font-size: 16px;
    font-weight: 400;
    color: #686868;
    line-height: 1.5;
    padding-bottom: 20px;
}

.about-icon-box{
    display: flex;
    gap: 16px;
    padding-bottom: 20px;
}

.about-icon-thumb img{
    width: 100%;
    height: auto;
    background-color: #d4e1f7;
    padding: 16px 12px;
    border-radius: 4px;
}

.about-icon-content h4{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 8px;
}

.about-icon-content p{
    font-size: 16px;
    font-weight: 400;
    color: #686868;
    line-height: 1.5;
}

.about-flex-box{
    display: flex;
    gap: 16px;
}

.about-btn a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    background-color: #0C5ADB;
    color: #fff;
    padding: 13px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.6s;
}

.about-btn a:hover{
    background-color: #fff;     
    color: #0C5ADB;   
    border: 1px solid #0C5ADB;          
}

.about-btn a i{
    background-color: #fff;
    color: #0C5ADB;
    border-radius: 50%;
    font-size: 14px;
    padding: 4px 8px;
    display: inline-flex;   
    justify-content: center;
    align-items: center;
    width: 24px;               
    height: 24px;
    transition: 0.6s;
}

.about-btn a:hover i{
    background-color: #0C5ADB;   
    color: #fff;                 
}

.about-author{
    display: flex;
    gap: 16px;
}

.about-author-thumb img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.about-author-content h4{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 6px;
}

.about-author-content p{
    font-size: 15px;
    font-weight: 400;
    color: #686868;
}

.about-shape img{
    width: 940px;
    height: auto;
    position: absolute;
    top: -200px;
    right: -10px;
    z-index: -1;
}
/* end about area */

/* service area start */
.service-area {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../assests/service-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(4px);
}

.service-row{
    padding: 120px 0px;
}

.service-title h4{
    font-size: 20px;
    font-weight: 400;
    font-family: "Bebas Neue";
    color: #0C5ADB;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 6px;
}

.service-title h2{
    font-size: 45px;
    font-family: "Bebas Neue";
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 16px;
}

.service-title span{
    color: #0C5ADB;
}

.service-bottom-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}

.service-flip-box{
    display: flex;
    gap: 14px;
    border: 1px solid #284961;
    border-radius: 4px;
    padding: 50px 20px 40px 20px;
}

.service-thumb img{
    width: 100%;
    height: auto;
}

.service-inner h4{
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}

.service-inner p{
    font-size: 16px;
    font-weight: 400;
    color: #686870;
    line-height: 1.5;
    padding-bottom: 18px;
}

.service-inner a{
     font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px 16px;
    border-radius: 4px;
}

.service-inner a i{
    font-size: 12px;
    padding-left: 4px;
}