@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Cossette+Texte:wght@400;700&family=Indie+Flower&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
}

/* header area start */
.header-area{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-sticky{
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-area .row {
    padding: 30px 0; 
}

.header-area{
    position: absolute;
    width: 100%;
    z-index: 10;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
}

.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.row-left{
    flex: 0 0 auto;
    width: 25%;
}

.row-right{
    flex: 0 0 auto;
    width: 75%;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

.header-menu ul{
    display: flex;
    gap: 30px;
}

.header-menu ul li{
    list-style: none;
    position: relative;
}

.header-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    transition: all 0.6s;
}

.header-menu ul li a:hover{
    color: #0C5ADB;
}

.header-search-icon i{
    color: #fff;
    transition: all 0.6s;
}

.header-search-icon i:hover{
    color: #0C5ADB;
}

.header-button a{ 
    background-color: #0C5ADB;
    color: #fff;
    text-decoration: none;
    padding: 14px 25px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.8s;
}

.header-button a:hover{
    background-color: #fff;
    color: #0C5ADB;
    border: 1px solid #0C5ADB;
}


/* products */
.dropdown {
  position: relative;
}

.product {
  padding: 0;
  display: flex;
  gap: 6px;
  align-items: center;
  position: relative;
}

.product img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.product .info {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.75);
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.info h4{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-top: 70px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.product:hover .info {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu {
  display: none !important;
  position: absolute;
  top: 100%;
  left: -240px;
  background: #fff;
  width: 420px;
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  border-radius: 6px;
  margin-top: 20px;
}

.dropdown-menu.show {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
/* header area end */

/* hero area start */
.hero-area{
    background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0) 100%),
        url("../assests/startseite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 945px;
    padding-top: 300px;
}


.hero-content h4{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "poppins";
    padding-bottom: 20px;
}

.hero-content h1{
    font-size: 60px;
    font-family: "poppins";
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    padding-bottom: 25px;
}

.hero-content p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 25px;
}
/* hero area end */

/* team area start */
.team-area{
    padding: 40px 0;
}

.team-area-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.single-team-box{
    background: #fff;
    padding: 18px;
    border-radius: 16px;
    box-shadow: 0px 4px 25px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.team-thumb{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}

.team-thumb img:only-child{
    grid-column: span 2;
}

.team-thumb img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

.team-bio h4{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 6px;
}

.team-bio p{
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.team-area-title h2{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 40px;
}

/* team area end */

/* reference  area start */
.reference-area{
    min-height: 100%;
    display: grid;
    place-items: center;
}

.reference-area h2{
    font-size: 40px;
    font-family: "poppins";
    text-align: center;
    font-weight: 500;
}

.reference{
    height: 200px;
    margin: auto;
    position: relative;
    width: 98%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.reference-content{
    display: flex;
    width: calc(200px * 18);
    animation: move 40s linear infinite;
}

@keyframes move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-200px * 9));
    }
}

.reference-img{
    display: flex;
    align-items: center;
    padding: 10px;
    perspective: 100px;
}

.reference-img img{
    width: 100%;
    height: auto;
    transition: transform 1s;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0.0.0.0.6));
}

.reference-img img:hover{
    transform: translateZ(10px);
}

.reference::before,
.reference::after{
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.reference::before{
    left: 0;
    top: 0;
}

.reference::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/* footer area start */
.footer-area{
    background: url("../assests/footer-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.footer-content-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 80px 0;
}

.footer-logo img{
    height: auto;
    padding-bottom: 30px;
}

.footer-widget-desc{
    padding-bottom: 12px;
}

.footer-widget-desc h6{
    font-size: 18px;
    color: #adb5bd;
    line-height: 1.5;
    padding-bottom: 4px;
    transition: all 0.6s;
}

.footer-widget-desc p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 3px;
    color: #adb5bd;
    transition: all 0.6s;
}

.contact-num{
    padding-top: 12px;
}

.button-dis a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    background-color: #0C5ADB;
    color: #fff;
    padding: 13px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1px solid transparent;
    transition: 0.6s;
}

.footer-widget-title h4{
    font-size: 23px;
    font-family: "poppins";
    font-weight: 700;
    color: #d8e6f5;
    padding-bottom: 30px;
}

.footer-bottom-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer-bottom-content p{
    font-size: 16px;
    color: #adb5bd;
    font-weight: 400;
}

.footer-bottom-social-icon ul{
    display: flex;
    gap: 12px;
    list-style: none;
}

.footer-bottom-social-icon ul li a{
    font-size: 14px;
    color: #fff;
    background-color: #354662;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.6s;
}

.footer-bottom-social-icon ul li a:hover{
    background-color: #0C5ADB;
}